body {
  margin:0;
  background:url("http://thepatternlibrary.com/img/f.jpg");
	background-repeat:repeat;
}
h3 {
	font-family: 'Slabo 27px', serif;
    margin: 0;
}
p {
	font-family: 'Slabo 27px', serif;
}
li {
	font-family: 'Slabo 27px', serif;
}
.container {
  max-width:1000px;
  height:auto;
  margin:auto;
  display:flex;
  justify-content:center;
}
.content-container {
	display:flex;
	max-width:1000px;
	margin:auto;
}
.navigation {
	width:100%;
	height:100px;
	background-color:#fff;
	display:flex;
	align-items:center;
	position:relative;
}
.button {
	width:150px;
	height:50px;
	margin:auto;
	background-color:#333;;
	text-align:center;
	line-height:50px;
	font-family: 'Slabo 27px', serif;
	border:2px solid lightgrey;
	color:lightgrey;
	cursor:pointer;
}
.button:hover {
	background-color:rgba(0, 0, 0, 0.7);
	display:block;
}
.sidebar {
	width:20%;
	margin:5px;
	background-color:lightgrey;
}
.content {
	width:80%;
}
.box {
  background-position:center;
  height:300px;
  margin:5px;
  flex-grow:1
}
.content .box {
	background-color:lightgrey;
}
.header{
  margin: 0 0 5px 0;
  height:300px;
  background: url("http://www.wujinshike.com/data/wallpapers/202/WDF_2404424.jpg");
	background-position:center;
}
.footer {
  margin-bottom:0;
  margin-top: 5px;
  background: none;
  background-color:#333;
}
.footer.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.footer .box {
    background: none;
    padding-left: 20px;
    height: auto;
    flex-grow: 0;
    width: 130px;
	border: none;
}
.footer-copy {
  text-align:left;
  color:#fff;
  font-size: .8em;
}
.footer-copy {
  list-style:none;
  padding:0
}
.footer-copy li {
  padding: 5px;
}
.copyright {
  text-align:center;
  color:#fff;
  font-size:.75em;
  padding:20px;
}
.bottom {
  height:200px;
}
.pop-up-container {
	display:flex;
	display:none;
	width:100%;
	height:143%;
	background-color:rgba(0, 0, 0, 0.7);
	position:absolute;
	top:0;
	align-items:center;
	justify-content:center;
}
.pop-up {
	width:500px;
	height:500px;
	margin:auto;
	background-color: rgba(0, 0, 0, 0.8);
	margin-top:100px
}
@media (max-width:767px) {
	.header {
		height:200px;
	}
  .container {
    display:block;
  }
  .box {
    width:100%;
    margin: 0;
    margin-bottom: 10px;
  }
	.content {
	width:100%;
}
  .footer {
  margin-bottom:0;
}
	.sidebar {
		display:none;
	}
}